<!DOCTYPE html>
<html>
<title>Monte Carlo Simulation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
  <link rel="icon" href="/static/logo.ico">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<style>
body {font-family: "Muli", Sans-Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Muli";
  letter-spacing: 2px;
}
</style>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href="#home" class="w3-bar-item w3-button">Monte Carlo</a>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">


        <a target="_blank" rel="noopener noreferrer" href="https://github.com/amertx/Monte-Carlo-Simulation" class="w3-bar-item w3-button">GitHub</a>
      </div>


    </div>
    <div id = "about" align = "middle">
      <h1><b>Purpose</b></h1>

      <!-- image tag here -->
      <!-- <img src="/plot.png" alt="my plot"> -->

      <p>The purpose of this project is to demonstrate how a combination of the Monte Carlo Simulation and the Brownian motion model can be used to forecast a future stock price. </p>
      <br>
      <h1><b>How to use the simulation?</b></h1>
      <p>Enter a ticker symbol to view graphical variations and forecasts of the future price of the stock or ETF </p>
      <br>
      <h3>Plot as a png</h3>
<img src="/matplot-as-image-{{stockTick}}.png"
     alt="random points as png"
     height="1000"
>

    </div>
  </div>
</body>
</html>
